/* Header Styles */
.header {
    height: 250px;
    max height: 500px;
    background-image: url(../images/upsBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#pagetopic 

/* Primary Color */

/* Typography CSS */

/* UI Elements */
